html, body {
  margin: 0;
  background-color: #000;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageBox {
  position: relative;
  width: 100vw;
  height: 100vh;
}

img {
  position: absolute;
  width: 30vw;
  max-width: 30vh;
}

/**
 * 横向きの場合のスタイル
 */
@media screen and (orientation: landscape) {
  img:nth-child(1) {
    transform: translate(0, -30vh);
  }

  img:nth-child(2) {
    transform: translate(30vh, 0) rotate(90deg);
  }

  img:nth-child(3) {
    transform: translate(0, 30vh) rotate(180deg);
  }

  img:nth-child(4) {
    transform: translate(-30vh, 0) rotate(270deg);
  }
}
/**
 * 縦向きの場合のスタイル
 */
@media screen and (orientation: portrait) {
  img:nth-child(1) {
    transform: translate(0, -30vw);
  }

  img:nth-child(2) {
    transform: translate(30vw, 0) rotate(90deg);
  }

  img:nth-child(3) {
    transform: translate(0, 30vw) rotate(180deg);
  }

  img:nth-child(4) {
    transform: translate(-30vw, 0) rotate(270deg);
  }
}
