html, body {
  margin: 0;
  background-color: #000;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageBox {
  position: relative;
  width: 100vw;
  height: 100vh;
}

img {
  position: absolute;
  width: 30vw;
  max-width: 30vh;
}

img:nth-child(1) {
  transform: translate(0, -300px);
}

img:nth-child(2) {
  transform: translate(300px, 0) rotate(90deg);
}

img:nth-child(3) {
  transform: translate(0, 300px) rotate(180deg);
}

img:nth-child(4) {
  transform: translate(-300px, 0) rotate(270deg);
}
